<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr4.Runtime.Standard" version="4.7.1" targetFramework="net45" />
  <package id="Castle.Core" version="4.2.1" targetFramework="net45" />
  <package id="DotNetZip" version="1.10.1" targetFramework="net45" />
  <package id="JetBrains.SharpZipLib.Stripped" version="0.87.20170720.14" targetFramework="net45" />
  <package id="KaVE.Commons" version="0.0.6-Experimental" targetFramework="net45" />
  <package id="KaVE.Commons.TestUtils" version="0.0.6-Experimental" targetFramework="net45" />
  <package id="mongocsharpdriver" version="1.10.0" targetFramework="net40" />
  <package id="Moq" version="4.7.142" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
</packages>