<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr4.Runtime.Standard" version="4.7.1" targetFramework="net45" />
  <package id="DotNetZip" version="1.10.1" targetFramework="net45" />
  <package id="JetBrains.SharpZipLib.Stripped" version="0.87.20170720.14" targetFramework="net45" />
  <package id="KaVE.Commons" version="0.0.5-Experimental" targetFramework="net45" />
  <package id="mongocsharpdriver" version="1.10.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="Svg" version="2.3.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.98.1" targetFramework="net40" requireReinstallation="True" />
  <package id="System.Data.SQLite.Linq" version="1.0.98.1" targetFramework="net40" requireReinstallation="True" />
</packages>